.App
{
    padding: 10px 50px;

}
.unique
{
   padding:10px;
   border-radius: 10px;
    border:2px solid black;
    
}
.unique:hover{
    background-color: rgba(255, 192, 203, 0.537);
}
#img
{
    width:50%;
    height:50%;
    border-radius: 50%;
}
.products
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home{
    background-image: url("shop.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 600px;
    /* border :2px solid red; */
}